schema {
    query: Query
}

type MFile {
    id: ID!
    filename: String
    title: String
    mimeType: String
    size: Intß
    createdDate: String
    createdBy: String
    content: String
}

type Query {
    mfileById(id: ID!): MFile
}